

/*
* Toggle Button
* ========================================================================== */
.nav-main a:not(.blog-logo) {
  display: none;
}

#menu-checkbox {
  display: none;
}

.toggle-button {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 0;
  top: 0;
  color: #000;
  font-size: 18px;
}

#menu-checkbox:checked + .nav-main a:not(.blog-logo) {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

#menu-checkbox:checked + .nav-main {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
}

.toggle-button:after {
  content: attr(data-open);
  cursor: pointer;
  padding: 15px;
  font-size: 1.6rem;
  text-align: center;
}

#menu-checkbox:checked + .nav-main .toggle-button:after {
  content: attr(data-close);
}



@media screen and (min-width: $md-break-point){
  .toggle-button {
    display: none;
  }
}


/*
* Header
* ========================================================================== */
.main-header {
  background-color: $background-color;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #ddd;
}




/*
* Header Navigation
* ========================================================================== */
.nav-main {
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: bold;
  font-family: "RobotoCondensed", sans-serif;
  padding: 0 1rem;
  text-transform: uppercase;
  a {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    line-height: 50px;
    margin: auto;
    color: #333;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: #766257;
    }
  }
}



/*
* Logotypes
* ========================================================================== */
.nav-main {
  .blog-logo {
    width: 100%;
    line-height: 50px;
    font-size: 25px;
    text-decoration: none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
  }
}



/*
* Aside
* ========================================================================== */
.sidebar {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  display: none;
}

.cover {
  transition: all 0.8s ease 0s;
  text-align: center;
  position: relative;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.75)) repeat scroll 0% 0% transparent;
}

.cover-text {
  color: #fff;
  text-shadow: 2px 0 5px #333;
  position: absolute;
  bottom: 20%;
  width: 80%;
  left: 10%;
  /*
  .heading a {
    position: relative;
    margin-right: 5px;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:not(:last-child):after {
      content: " , ";
      position: absolute;
      bottom: 0;
    }
  }
  */
  .heading {
    font-family: 'righteous', sans-serif;
  }

  .subtitle{
    font-family: 'Pacifico', 'XingShu', sans-serif;
    font-size: 22px;
    margin: 0 0;
  }
}

.sidebar,
.cover {
  width: 100%;
  height: 100vh;
}

.avatar {
  border: 3px solid #d4a259;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.social-icon {
  height: 25px;
  width: 25px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

svg {
  fill: #e3e6ea;
  width: 25px;
  height: 25px;
  margin-left: 0.5em;
  margin-right: 0.5em; 
}

svg:hover path {
  fill: #d4a259;
}

/*
* Article
* ========================================================================== */
main {
  padding-top: 3em;
}

.post {
  position: relative;
  /*
  &:after {
    content: "";
    position: absolute;
    margin-top: 10em;
    width: 100px;
    left: 50%;
  }
  */
  margin-top: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
}

article {
  padding: 0em 1em 0em 1em;
  img,
  embed,
  object,
  video,
  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 { margin-top: 0; }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
    padding: .2em;
    background-color: #fff;
  }

}

.post-title{
  margin: 0;
  font-size: 28px;
  padding-bottom: 1em;
  font-weight: 800;
  font-family: "Crimson", serif; 
}
/*
.post-title:after {
  background-color: #d4a259;
  display: block;
  content: "";
  height: 1.5px;
  margin-top: .35em;
  margin-bottom: .35em;
  width: 60px;
}
*/

.split-title{
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Karla', 'SimHei', sans-serif; 
}

.split-title:after {
  background-color: #d4a259;
  display: block;
  content: "";
  height: 1.5px;
  margin-top: .35em;
  margin-bottom: .35em;
  width: 60px;
}

.post-meta {
  margin-top: 0;
  margin-bottom: 0; 
  margin-left: 0px;
  text-transform: uppercase;
  color: #b9b9b9;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Karla', 'SimHei', sans-serif;
  a, a:hover, a:focus, a:visited {
    color: #333;
  }
  .meta-black {
    color: #333;
  }
  time {font-size: 14px;}
}

.tags {
  padding-bottom: 23px;
}

.post-tag{
  margin-right: 0.5em;
  font-size: 15px;
  font-family: 'Karla', 'SimHei', sans-serif;
  color: #d4a259;
}

.post-content{
  /* font-size: 20px; */
  color: #222222; 
  /* font-family: "Crimson", "KaiTi", serif; */
}

.share {
  margin-right: 0.5em;
  font-family: 'Karla', 'SimHei', sans-serif;
  a {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    background: #d4a259;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0;
  }
}

.readmore {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  background: #d4a259;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0;
}


/*
* Archive
* ========================================================================== */
.year {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 17px
}

.year li {
  padding: 3px 3px;
  font-family: "Crimson", "KaiTi", serif;
  font-weight: 600;
  border-bottom: 1px dotted #eae4da
}

.year a {
  text-decoration: none
}

.year a:hover {
  text-decoration: underline
}

.date {
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Karla', 'SimHei', sans-serif;
  float: right;
  font-size: 15px;
  color: #d4d4d4;
  display: none;
}

.tag {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px 30px 0;
  font-size: 15px;
  line-height: 1;
  border-radius: 3px;
  background: #d4a259;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0;
}

/*
* Footer
* ========================================================================== */
.blog-footer {
  height: 4em;
  margin: 5em auto 0;
  font-size: 70%;
  border-top: 1px solid #ddd;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
}



/*
* Next/Previous Posts
* ========================================================================== */

/*
.link-to-post {
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 1em;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  transition: border-color .5s ease-in 0s;
  &:hover { border-color: #0D243B; }

  &__prev, &__next {
    font-size: .8em;
    color: #333;
    margin: 10px 0;
  }

  &__title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: block;
  }
}
*/

.link-meta {
  margin-top: 0;
  margin-bottom: 0; 
  margin-left: 2px;
  text-transform: uppercase;
  color: #b9b9b9;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Karla', 'SimHei', sans-serif;
  a, a:hover, a:focus, a:visited {
    color: #333;
  }
  .meta-black {
    color: #333;
  }
  time {font-size: 15px;}
}

.link-title{
  font-family: "Crimson", "KaiTi", serif;
  margin: 0;
  font-size: 22px;
}

.link-tag{
  margin-right: 0.5em;
  font-size: 15px;
  font-family: 'Karla', 'SimHei', sans-serif;
  color: #d4a259;
}

//contact form
.contact-form{
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 3em;
  padding-right: 3em;
}