---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #268bd2;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 5px 15px;
    margin: 5px 10px 5px 20px;
    border: none;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}

input{
  font-size: 20px;
}

textarea{
  font-size: 20px;
}

.col {
  max-width: 1000px;
  margin: auto;
}

{% include css/header.css %}
{% include css/sidebar.css %}
{% include css/main.css %}
{% include css/content.css %}
{% include css/tough.css %}
