---
layout: default
title: home
---

{% assign limit = 0 %}
{% for note in site.posts %}
  {% assign start = note.title | slice: 0,4 %}
  {% if start == "Note" %}
    <div>
      <h2>
        <a class = "content-title" href="{{ note.url }}">
          {{ note.title }}
        </a>
      </h2>
      <span class="date-undertitle">{{ note.date | date_to_string }}</span>
      {{ note.content | strip_html | truncate:150 }}
    <a class = "readmore" href={{site.baseurl}}{{note.url}}>Read More</a>
    </div>
    {% assign limit = limit | plus: 1 %}
    {% if limit == site.note_num %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
