---
layout: default
---

<h3>Wish List<h3>
<h5>&emsp;&emsp; ——愿望还是要有的，一不小心就会实现的.</h5>

<p></p>
<h4><i><u>Milestones</u></i></h4>
<ul>
	<li>Open this semi-private Blog &#10004 </li>
	<li>潜水证 &#9898 </li>
	<li>滑雪：练习 &#926 -> 教练证件 &#9898 </li>
</ul>
<p>&#9898: to do / &#926: in progress / &#10004: done</p>

<p></p>
<h4><i><u>Progress Bar</u></i></h4>
<ul>
	{% for p in site.data.progress %}
	{% if p.level == 0 %}
		<li>{{p.title}} &#9898 </li>
	{% elsif  p.level == 1 %}
		<li>{{p.title}} &#9785 </li>
	{% elsif  p.level == 2 %}
		<li>{{p.title}} &#9786 </li>
	{% elsif  p.level == 3 %}
		<li>{{p.title}} &#8226&#8226#8226 </li>
	{% else %}
		<li>{{book.title}}，{{book.author}} &#9786&#9786 </li>
	{% endif %}
{% endfor %}
</ul>
<p>&#9898: not yet / &#9785: started / &#9786: felt changes / 
&#9787: better / &#9787&#9787: on the way</p>

<p></p>
<h4><i><u>Reading List</u></i></h4>
<ul>
{% for book in site.data.readlist %}
	{% if book.progress == 'red' %}
		<li>{{book.title}}，{{book.author}} &#10004 </li>
	{% elsif book.progress == 'reading' %}
		<li>{{book.title}}，{{book.author}} &#926 </li>
	{% else %}
		<li>{{book.title}}，{{book.author}} &#9898 </li>
	{% endif %}
{% endfor %}
</ul>
<p>&#9898: to read / &#926: reading / &#10004: red</p>

<p></p>
<h4><i><u>Reading List (specialty)</u></i></h4>
<ul>
	{% for book in site.data.readlist_specialty %}
	{% if book.progress == 'red' %}
		<li>{{book.title}}，{{book.author}} &#10004 </li>
	{% elsif book.progress == 'reading' %}
		<li>{{book.title}}，{{book.author}} &#926 </li>
	{% else %}
		<li>{{book.title}}，{{book.author}} &#9898 </li>
	{% endif %}
{% endfor %}
</ul>
<p>&#9898: to read / &#926: reading / &#10004: have read</p>








